@inherits Custom.Hybrid.RazorTyped
@{
  var swiper = MyItem;
}
<div class="app-swiper2-empty-slides container" @Kit.Toolbar.Default(swiper.Children("Slides"))>
  <h1>@swiper.String("Slides")</h1>
  <div class="arrow">
  <div class="line"></div>
  <div class="point"></div>
  </div>
  <div class="row h-100 align-items-center">
  <div class="col-12 text-center">
    <h2>@App.Resources.String("EmptySlideTitle")</h2>
    <p>@App.Resources.String("EmptySlideMessage")</p>
  </div>
  </div>
</div>