@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../includes/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../includes/bootstrap/fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), url('../includes/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../includes/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../includes/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
img.cptooltip {
    width:15px;
    margin-left:5px;
}

.tooltip_templates { display: none; }
.error-text {
    color:red;
}
.psAdmin {
    font-family:Arial !important;
}
.cm-s-default {
    border:solid 1px #ccc;
}
.ShowDD{
    display:block !important;
}
.HideDD{
    display:none !important;
}
.treeNode {
    font-size: 1em !important;
    color: #5f6061 !important;
    padding: 4px;
    background-color: #eeeeee;
    font-weight: bold;
}
.dropdown-menu{
    overflow:scroll;
    height:400px;
 }
.btnArticlesNav {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff !important;
    margin-left: 5px;
    margin-right: 5px;
}
.fieldReq {color:red;
}
.ApprovedChechbox label {
    display: block !important;
}

td .divicon a {
    display: block !important;
}

.psglyphiconl {
    padding: 5px;
    float: left !important;
}

.psform-controlCommentstxt {
    display: inline !important;
    width: 63% !important;
    margin-right: 4px !important;
}

.psform-controlComments {
    display: inline !important;
    width: 20% !important;
}

.psglyphiconr {
    padding: 5px;
    float: right !important;
}

.btnArticlesNav:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    text-decoration: none;
}

.pslabelDisplayBlock {
    display: inline;
}

.Paging {
}

.pstable {
    width: 97% !important;
}

.pswell {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

    .pswell blockquote {
        border-color: #ddd;
        border-color: rgba(0, 0, 0, .15);
    }

.pswell-lg {
    padding: 24px;
    border-radius: 6px;
}

.pswell-sm {
    padding: 9px;
    border-radius: 3px;
}

.Noform-group {
    margin-bottom: 0px !important;
}

.spinner {
    width: 25px;
    height: 25px;
    display: none;
}

.ApprovedChechbox label {
    display: none !important;
}

.ReplyDiv {
    margin-left: 50px;
    background-color: #e3e2e2;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.CommentDiv {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
}

.blog-icon {
    background: url(images/sprite.png) no-repeat top left;
    padding-left: 20px !important;
}

.CommentReplyPhoto {
    width: 50px;
    padding: 10px;
    position: absolute;
}

.CommentUser {
    font-weight: bold;
}

.CommentText {
    padding: 20px;
}

#accordion2 .pspanel {
    margin-bottom: 0px;
    width: 95% !important;
}

#accordion2 .pspanel-heading {
    width: 97% !important;
}

.psValField {
    color: red;
}


.dnnDropDownList .selected-item a, .dnnDropDownList .selected-item a:link {
    height: 30px !important;
}

.controlWidth {
    width: 250px !important;
}

.controlWidthSmall {
    width: 100px !important;
}
/* Tree View */


.rootNode {
    font-size: 1em !important;
    color: #5f6061 !important;
    padding: 4px;
    background-color: #eeeeee;
    font-weight: bold;
}

    .rootNode a {
        text-decoration: none !important;
    }

.leafNode {
    color: #5f6061 !important;
    padding: 4px;
    background-color: #eeeeee;
    font-weight: bold;
}

    .leafNode a {
        text-decoration: none !important;
    }
/* Radios */
.rdo-colors input[type="radio"] {
    cursor: pointer;
    width: 1.5em;
    vertical-align: -0.1em;
    border-radius: 1em;
    transition: 0.5s ease all;
}

    .rdo-colors input[type="radio"]:checked {
    }

.rdo-colors input {
}

.rdo-colors label {
    padding: 4px;
}

.rdo-colors input[type="radio"]:checked + label {
    /*  background-color:#bbb;*/
}

.psRadio label {
    font-weight: normal;
}

/*    Admin CSS controls */
.psradioVert {
    
}
.pspanel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    width: 99% !important;
}

.pspanel-body {
    padding: 15px;
}
.pspanel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size:18px;
}

    .pspanel-heading > .dropdown .dropdown-toggle {
        color: inherit;
    }

.pspanel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: bold;
}

    .pspanel-title > a,
    .pspanel-title > small,
    .pspanel-title > .small,
    .pspanel-title > small > a,
    .pspanel-title > .small > a {
        color: inherit;
    }

.pspanel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pspanel > .pslist-group,
.pspanel > .pspanel-collapse > .pslist-group {
    margin-bottom: 0;
}

    .pspanel > .pslist-group .pslist-group-item,
    .pspanel > .pspanel-collapse > .pslist-group .pslist-group-item {
        border-width: 1px 0;
        border-radius: 0;
    }

    .pspanel > .pslist-group:first-child .pslist-group-item:first-child,
    .pspanel > .pspanel-collapse > .pslist-group:first-child .pslist-group-item:first-child {
        border-top: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .pspanel > .pslist-group:last-child .pslist-group-item:last-child,
    .pspanel > .pspanel-collapse > .pslist-group:last-child .pslist-group-item:last-child {
        border-bottom: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

.pspanel > .pspanel-heading + .pspanel-collapse > .pslist-group .pslist-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pspanel-heading + .pslist-group .pslist-group-item:first-child {
    border-top-width: 0;
}

.pslist-group + .pspanel-footer {
    border-top-width: 0;
}

.pspanel > .table,
.pspanel > .table-responsive > .table,
.pspanel > .pspanel-collapse > .table {
    margin-bottom: 0;
}

    .pspanel > .table caption,
    .pspanel > .table-responsive > .table caption,
    .pspanel > .pspanel-collapse > .table caption {
        padding-right: 15px;
        padding-left: 15px;
    }

    .pspanel > .table:first-child,
    .pspanel > .table-responsive:first-child > .table:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

        .pspanel > .table:first-child > thead:first-child > tr:first-child,
        .pspanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
        .pspanel > .table:first-child > tbody:first-child > tr:first-child,
        .pspanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

            .pspanel > .table:first-child > thead:first-child > tr:first-child td:first-child,
            .pspanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
            .pspanel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
            .pspanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
            .pspanel > .table:first-child > thead:first-child > tr:first-child th:first-child,
            .pspanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
            .pspanel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
            .pspanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
                border-top-left-radius: 3px;
            }

            .pspanel > .table:first-child > thead:first-child > tr:first-child td:last-child,
            .pspanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
            .pspanel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
            .pspanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
            .pspanel > .table:first-child > thead:first-child > tr:first-child th:last-child,
            .pspanel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
            .pspanel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
            .pspanel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
                border-top-right-radius: 3px;
            }

    .pspanel > .table:last-child,
    .pspanel > .table-responsive:last-child > .table:last-child {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }

        .pspanel > .table:last-child > tbody:last-child > tr:last-child,
        .pspanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
        .pspanel > .table:last-child > tfoot:last-child > tr:last-child,
        .pspanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

            .pspanel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
            .pspanel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
            .pspanel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
            .pspanel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
                border-bottom-left-radius: 3px;
            }

            .pspanel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
            .pspanel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
            .pspanel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
            .pspanel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
            .pspanel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
                border-bottom-right-radius: 3px;
            }

    .pspanel > .pspanel-body + .table,
    .pspanel > .pspanel-body + .table-responsive,
    .pspanel > .table + .pspanel-body,
    .pspanel > .table-responsive + .pspanel-body {
        border-top: 1px solid #ddd;
    }

    .pspanel > .table > tbody:first-child > tr:first-child th,
    .pspanel > .table > tbody:first-child > tr:first-child td {
        border-top: 0;
    }

.pspanel > .table-bordered,
.pspanel > .table-responsive > .table-bordered {
    border: 0;
}

    .pspanel > .table-bordered > thead > tr > th:first-child,
    .pspanel > .table-responsive > .table-bordered > thead > tr > th:first-child,
    .pspanel > .table-bordered > tbody > tr > th:first-child,
    .pspanel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .pspanel > .table-bordered > tfoot > tr > th:first-child,
    .pspanel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .pspanel > .table-bordered > thead > tr > td:first-child,
    .pspanel > .table-responsive > .table-bordered > thead > tr > td:first-child,
    .pspanel > .table-bordered > tbody > tr > td:first-child,
    .pspanel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .pspanel > .table-bordered > tfoot > tr > td:first-child,
    .pspanel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }

    .pspanel > .table-bordered > thead > tr > th:last-child,
    .pspanel > .table-responsive > .table-bordered > thead > tr > th:last-child,
    .pspanel > .table-bordered > tbody > tr > th:last-child,
    .pspanel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .pspanel > .table-bordered > tfoot > tr > th:last-child,
    .pspanel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .pspanel > .table-bordered > thead > tr > td:last-child,
    .pspanel > .table-responsive > .table-bordered > thead > tr > td:last-child,
    .pspanel > .table-bordered > tbody > tr > td:last-child,
    .pspanel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .pspanel > .table-bordered > tfoot > tr > td:last-child,
    .pspanel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }

    .pspanel > .table-bordered > thead > tr:first-child > td,
    .pspanel > .table-responsive > .table-bordered > thead > tr:first-child > td,
    .pspanel > .table-bordered > tbody > tr:first-child > td,
    .pspanel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
    .pspanel > .table-bordered > thead > tr:first-child > th,
    .pspanel > .table-responsive > .table-bordered > thead > tr:first-child > th,
    .pspanel > .table-bordered > tbody > tr:first-child > th,
    .pspanel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
        border-bottom: 0;
    }

    .pspanel > .table-bordered > tbody > tr:last-child > td,
    .pspanel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .pspanel > .table-bordered > tfoot > tr:last-child > td,
    .pspanel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
    .pspanel > .table-bordered > tbody > tr:last-child > th,
    .pspanel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .pspanel > .table-bordered > tfoot > tr:last-child > th,
    .pspanel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
        border-bottom: 0;
    }

.pspanel > .table-responsive {
    margin-bottom: 0;
    border: 0;
}

.pspanel-group {
    margin-bottom: 20px;
}

    .pspanel-group .pspanel {
        margin-bottom: 0;
        border-radius: 4px;
    }

        .pspanel-group .pspanel + .pspanel {
            margin-top: 5px;
        }

    .pspanel-group .pspanel-heading {
        border-bottom: 0;
    }

        .pspanel-group .pspanel-heading + .pspanel-collapse > .pspanel-body,
        .pspanel-group .pspanel-heading + .pspanel-collapse > .pslist-group {
            border-top: 1px solid #ddd;
        }

    .pspanel-group .pspanel-footer {
        border-top: 0;
    }

        .pspanel-group .pspanel-footer + .pspanel-collapse .pspanel-body {
            border-bottom: 1px solid #ddd;
        }

.pspanel-default {
    border-color: #ddd !important;
    width: 99% !important;
}

    .pspanel-default > .pspanel-heading {
        color: #fff;
        background-color: #23afd9;
        border-color: #ddd;
    }

        .pspanel-default > .pspanel-heading + .pspanel-collapse > .pspanel-body {
            border-top-color: #ddd;
        }

        .pspanel-default > .pspanel-heading .badge {
            color: #f5f5f5;
            background-color: #333;
        }

    .pspanel-default > .pspanel-footer + .pspanel-collapse > .pspanel-body {
        border-bottom-color: #ddd;
    }

.pspanel-primary {
    border-color: #337ab7;
}

    .pspanel-primary > .pspanel-heading {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
    }

        .pspanel-primary > .pspanel-heading + .pspanel-collapse > .pspanel-body {
            border-top-color: #337ab7;
        }

        .pspanel-primary > .pspanel-heading .badge {
            color: #337ab7;
            background-color: #fff;
        }

    .pspanel-primary > .pspanel-footer + .pspanel-collapse > .pspanel-body {
        border-bottom-color: #337ab7;
    }

.pspanel-success {
    border-color: #d6e9c6;
}

    .pspanel-success > .pspanel-heading {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

        .pspanel-success > .pspanel-heading + .pspanel-collapse > .pspanel-body {
            border-top-color: #d6e9c6;
        }

        .pspanel-success > .pspanel-heading .badge {
            color: #dff0d8;
            background-color: #3c763d;
        }

    .pspanel-success > .pspanel-footer + .pspanel-collapse > .pspanel-body {
        border-bottom-color: #d6e9c6;
    }

.pspanel-info {
    border-color: #bce8f1;
}

    .pspanel-info > .pspanel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

        .pspanel-info > .pspanel-heading + .pspanel-collapse > .pspanel-body {
            border-top-color: #bce8f1;
        }

        .pspanel-info > .pspanel-heading .badge {
            color: #d9edf7;
            background-color: #31708f;
        }

    .pspanel-info > .pspanel-footer + .pspanel-collapse > .pspanel-body {
        border-bottom-color: #bce8f1;
    }

.pspanel-warning {
    border-color: #faebcc;
}

    .pspanel-warning > .pspanel-heading {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

        .pspanel-warning > .pspanel-heading + .pspanel-collapse > .pspanel-body {
            border-top-color: #faebcc;
        }

        .pspanel-warning > .pspanel-heading .badge {
            color: #fcf8e3;
            background-color: #8a6d3b;
        }

    .pspanel-warning > .pspanel-footer + .pspanel-collapse > .pspanel-body {
        border-bottom-color: #faebcc;
    }

.pspanel-danger {
    border-color: #ebccd1;
}

    .pspanel-danger > .pspanel-heading {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

        .pspanel-danger > .pspanel-heading + .pspanel-collapse > .pspanel-body {
            border-top-color: #ebccd1;
        }

        .pspanel-danger > .pspanel-heading .badge {
            color: #f2dede;
            background-color: #a94442;
        }

    .pspanel-danger > .pspanel-footer + .pspanel-collapse > .pspanel-body {
        border-bottom-color: #ebccd1;
    }



.pscollapse {
    display: none;
}

    .pscollapse.in {
        display: block;
    }

tr.pscollapse.in {
    display: table-row;
}

tbody.pscollapse.in {
    display: table-row-group;
}

.chck {
    margin-left: 0px !important;
}

.ui-sortable-handle:hover {
    cursor: pointer;
}

.switchery {
    height: 20px !important;
    width: 33px !important;
}

    .switchery small {
        border-radius: 20px;
        height: 20px !important;
        width: 23px !important;
    }

.CatRight {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.moveicon {
    width: 30px;
    height: 30px;
}

.dnnFileUploadScope {
    width: 90% !important;
    clear:both;
    display:block;
    float:none !important;
}

.dnnTextEditor {
    width: 90%;
}

.pslabelCheckbox {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    clear: both;
}

.psform-group {
    margin-bottom: 15px !important;
}

.psform-horizontal .psform-group {
    margin-right: -15px;
    margin-left: -15px;
}

.pslabel, .dnnLabel {

    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;

    text-align:left !important;
}
.urlControl {
    clear:both;
    float:none;
}
.dnnFormHelp {
     text-align:left !important;
     left:0 !important;
     position:relative !important;
}
.dnnTooltip {
}
h2.psArticles_dnnFormSectionHead {
    margin-top: 8px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.03em;
    width: 90%;
}

.pslabelRequired label {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding-right: 5px;
}

.psform-control {
    display: block;
    width: 90%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.psbtn-medium {
min-width:150px;
}
.psbtn-primary:hover {
    color: #fff !important;
    background-color: #ff2400;
    border-color: #ff2400;
    text-decoration: none;
}

.psbtn-primary {
    color: #fff !important;
    background-color: #ff6d00;
    border-color: #2e6da4;
}
.psbtn-info {
  color: #fff !important;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.psbtn-info:focus,
.psbtn-info.focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.psbtn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
  text-decoration: none;
}
.psbtn-danger:hover {
    color: #40b6e9 !important;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-decoration: none;
}

.psbtn-danger a {
    color: #fff !important;
}

.psbtn-danger {
    color: #fff !important;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.psbtn-default {
    color: #333 !important;
    background-color: #fff;
    border-color: #ccc !important;
}

    .psbtn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
        text-decoration: none;
    }

.psbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family:Arial !important;
    text-decoration:none !important;
}
    
.psbtn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

    .psbtn-warning:focus,
    .psbtn-warning.focus {
        color: #fff;
        background-color: #ec971f;
        border-color: #985f0d;
    }

    .psbtn-warning:hover {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }

    .psbtn-warning:active,
    .psbtn-warning.active {
        color: #fff;
        background-color: #ec971f;
        border-color: #d58512;
    }

.psbtn:visited {
        text-decoration:none !important;
    }


/* Table styles */
.pstable-bordered > tbody > tr > td span {
    float: left;
}

.pstable th {
    background: #f97906;
    color: #fff;
}

table {
    background-color: transparent;
}

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}

th {
    text-align: left;
}

.pstable {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

    .pstable > thead > tr > th,
    .pstable > tbody > tr > th,
    .pstable > tfoot > tr > th,
    .pstable > thead > tr > td,
    .pstable > tbody > tr > td,
    .pstable > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .pstable > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .pstable > caption + thead > tr:first-child > th,
    .pstable > colgroup + thead > tr:first-child > th,
    .pstable > thead:first-child > tr:first-child > th,
    .pstable > caption + thead > tr:first-child > td,
    .pstable > colgroup + thead > tr:first-child > td,
    .pstable > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    .pstable > tbody + tbody {
        border-top: 2px solid #ddd;
    }

    .pstable .pstable {
        background-color: #fff;
    }

.pstable-condensed > thead > tr > th,
.pstable-condensed > tbody > tr > th,
.pstable-condensed > tfoot > tr > th,
.pstable-condensed > thead > tr > td,
.pstable-condensed > tbody > tr > td,
.pstable-condensed > tfoot > tr > td {
    padding: 5px;
}

.pstable-bordered {
    border: 1px solid #ddd;
}

    .pstable-bordered > thead > tr > th,
    .pstable-bordered > tbody > tr > th,
    .pstable-bordered > tfoot > tr > th,
    .pstable-bordered > thead > tr > td,
    .pstable-bordered > tbody > tr > td,
    .pstable-bordered > tfoot > tr > td {
        border: 1px solid #ddd;
    }

    .pstable-bordered > thead > tr > th,
    .pstable-bordered > thead > tr > td {
        border-bottom-width: 2px;
    }

.pstable-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.pstable-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}

table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

.pstable > thead > tr > td.active,
.pstable > tbody > tr > td.active,
.pstable > tfoot > tr > td.active,
.pstable > thead > tr > th.active,
.pstable > tbody > tr > th.active,
.pstable > tfoot > tr > th.active,
.pstable > thead > tr.active > td,
.pstable > tbody > tr.active > td,
.pstable > tfoot > tr.active > td,
.pstable > thead > tr.active > th,
.pstable > tbody > tr.active > th,
.pstable > tfoot > tr.active > th {
    background-color: #f5f5f5;
}

.pstable-hover > tbody > tr > td.active:hover,
.pstable-hover > tbody > tr > th.active:hover,
.pstable-hover > tbody > tr.active:hover > td,
.pstable-hover > tbody > tr:hover > .active,
.pstable-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}

.pstable > thead > tr > td.success,
.pstable > tbody > tr > td.success,
.pstable > tfoot > tr > td.success,
.pstable > thead > tr > th.success,
.pstable > tbody > tr > th.success,
.pstable > tfoot > tr > th.success,
.pstable > thead > tr.success > td,
.pstable > tbody > tr.success > td,
.pstable > tfoot > tr.success > td,
.pstable > thead > tr.success > th,
.pstable > tbody > tr.success > th,
.pstable > tfoot > tr.success > th {
    background-color: #dff0d8;
}

.pstable-hover > tbody > tr > td.success:hover,
.pstable-hover > tbody > tr > th.success:hover,
.pstable-hover > tbody > tr.success:hover > td,
.pstable-hover > tbody > tr:hover > .success,
.pstable-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}

.pstable > thead > tr > td.info,
.pstable > tbody > tr > td.info,
.pstable > tfoot > tr > td.info,
.pstable > thead > tr > th.info,
.pstable > tbody > tr > th.info,
.pstable > tfoot > tr > th.info,
.pstable > thead > tr.info > td,
.pstable > tbody > tr.info > td,
.pstable > tfoot > tr.info > td,
.pstable > thead > tr.info > th,
.pstable > tbody > tr.info > th,
.pstable > tfoot > tr.info > th {
    background-color: #d9edf7;
}

.pstable-hover > tbody > tr > td.info:hover,
.pstable-hover > tbody > tr > th.info:hover,
.pstable-hover > tbody > tr.info:hover > td,
.pstable-hover > tbody > tr:hover > .info,
.pstable-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}

.pstable > thead > tr > td.warning,
.pstable > tbody > tr > td.warning,
.pstable > tfoot > tr > td.warning,
.pstable > thead > tr > th.warning,
.pstable > tbody > tr > th.warning,
.pstable > tfoot > tr > th.warning,
.pstable > thead > tr.warning > td,
.pstable > tbody > tr.warning > td,
.pstable > tfoot > tr.warning > td,
.pstable > thead > tr.warning > th,
.pstable > tbody > tr.warning > th,
.pstable > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}

.pstable-hover > tbody > tr > td.warning:hover,
.pstable-hover > tbody > tr > th.warning:hover,
.pstable-hover > tbody > tr.warning:hover > td,
.pstable-hover > tbody > tr:hover > .warning,
.pstable-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}

.pstable > thead > tr > td.danger,
.pstable > tbody > tr > td.danger,
.pstable > tfoot > tr > td.danger,
.pstable > thead > tr > th.danger,
.pstable > tbody > tr > th.danger,
.pstable > tfoot > tr > th.danger,
.pstable > thead > tr.danger > td,
.pstable > tbody > tr.danger > td,
.pstable > tfoot > tr.danger > td,
.pstable > thead > tr.danger > th,
.pstable > tbody > tr.danger > th,
.pstable > tfoot > tr.danger > th {
    background-color: #f2dede;
}

.pstable-hover > tbody > tr > td.danger:hover,
.pstable-hover > tbody > tr > th.danger:hover,
.pstable-hover > tbody > tr.danger:hover > td,
.pstable-hover > tbody > tr:hover > .danger,
.pstable-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

.pstable-responsive {
    min-height: .01%;
    overflow-x: auto;
}

.action-edit {
    color: teal !important;
    margin-right: 5px;
    display: inline-block;
}

.action-delete {
    color: red !important;
    margin-right: 5px;
    display: inline-block;
}

/* Category scrollable div */
.categoryCOn {
    height: 300px;
    overflow-x: auto;
    border: 1px solid #ddd;
    width: 400px;
}




@media screen and (max-width: 767px) {
    .pstable-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

        .pstable-responsive > .pstable {
            margin-bottom: 0;
        }

            .pstable-responsive > .pstable > thead > tr > th,
            .pstable-responsive > .pstable > tbody > tr > th,
            .pstable-responsive > .pstable > tfoot > tr > th,
            .pstable-responsive > .pstable > thead > tr > td,
            .pstable-responsive > .pstable > tbody > tr > td,
            .pstable-responsive > .pstable > tfoot > tr > td {
                white-space: nowrap;
            }

        .pstable-responsive > .pstable-bordered {
            border: 0;
        }

            .pstable-responsive > .pstable-bordered > thead > tr > th:first-child,
            .pstable-responsive > .pstable-bordered > tbody > tr > th:first-child,
            .pstable-responsive > .pstable-bordered > tfoot > tr > th:first-child,
            .pstable-responsive > .pstable-bordered > thead > tr > td:first-child,
            .pstable-responsive > .pstable-bordered > tbody > tr > td:first-child,
            .pstable-responsive > .pstable-bordered > tfoot > tr > td:first-child {
                border-left: 0;
            }

            .pstable-responsive > .pstable-bordered > thead > tr > th:last-child,
            .pstable-responsive > .pstable-bordered > tbody > tr > th:last-child,
            .pstable-responsive > .pstable-bordered > tfoot > tr > th:last-child,
            .pstable-responsive > .pstable-bordered > thead > tr > td:last-child,
            .pstable-responsive > .pstable-bordered > tbody > tr > td:last-child,
            .pstable-responsive > .pstable-bordered > tfoot > tr > td:last-child {
                border-right: 0;
            }

            .pstable-responsive > .pstable-bordered > tbody > tr:last-child > th,
            .pstable-responsive > .pstable-bordered > tfoot > tr:last-child > th,
            .pstable-responsive > .pstable-bordered > tbody > tr:last-child > td,
            .pstable-responsive > .pstable-bordered > tfoot > tr:last-child > td {
                border-bottom: 0;
            }
}

.psFormGroup {
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .psform-inline .psFormGroup {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
}

.clearfix:before,
.clearfix:after,
.psform-horizontal .psform-group:before,
.psform-horizontal .psform-group:after {
    display: table;
    content: " ";
}

.clearfix:after,
.psform-horizontal .psform-group:after {
    clear: both;
}

.pspull-right {
    float: right !important;
}

.pspull-left {
    float: left !important;
}

.pscontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .pscontainer {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .pscontainer {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .pscontainer {
        width: 1170px;
    }
}


.pslist-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.pslist-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

    .pslist-group-item:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .pslist-group-item:last-child {
        margin-bottom: 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
    }

a.pslist-group-item,
button.pslist-group-item {
    color: #555;
}

    a.pslist-group-item .pslist-group-item-heading,
    button.pslist-group-item .pslist-group-item-heading {
        color: #333;
    }

    a.pslist-group-item:hover,
    button.pslist-group-item:hover,
    a.pslist-group-item:focus,
    button.pslist-group-item:focus {
        color: #555;
        text-decoration: none;
        background-color: #f5f5f5;
    }

button.pslist-group-item {
    width: 100%;
    text-align: left;
}

.pslist-group-item.disabled,
.pslist-group-item.disabled:hover,
.pslist-group-item.disabled:focus {
    color: #777;
    cursor: not-allowed;
    background-color: #eee;
}

    .pslist-group-item.disabled .pslist-group-item-heading,
    .pslist-group-item.disabled:hover .pslist-group-item-heading,
    .pslist-group-item.disabled:focus .pslist-group-item-heading {
        color: inherit;
    }

    .pslist-group-item.disabled .pslist-group-item-text,
    .pslist-group-item.disabled:hover .pslist-group-item-text,
    .pslist-group-item.disabled:focus .pslist-group-item-text {
        color: #777;
    }

.pslist-group-item.active,
.pslist-group-item.active:hover,
.pslist-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

    .pslist-group-item.active .pslist-group-item-heading,
    .pslist-group-item.active:hover .pslist-group-item-heading,
    .pslist-group-item.active:focus .pslist-group-item-heading,
    .pslist-group-item.active .pslist-group-item-heading > small,
    .pslist-group-item.active:hover .pslist-group-item-heading > small,
    .pslist-group-item.active:focus .pslist-group-item-heading > small,
    .pslist-group-item.active .pslist-group-item-heading > .small,
    .pslist-group-item.active:hover .pslist-group-item-heading > .small,
    .pslist-group-item.active:focus .pslist-group-item-heading > .small {
        color: inherit;
    }

    .pslist-group-item.active .pslist-group-item-text,
    .pslist-group-item.active:hover .pslist-group-item-text,
    .pslist-group-item.active:focus .pslist-group-item-text {
        color: #c7ddef;
    }

.pslist-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}

a.pslist-group-item-success,
button.pslist-group-item-success {
    color: #3c763d;
}

    a.pslist-group-item-success .pslist-group-item-heading,
    button.pslist-group-item-success .pslist-group-item-heading {
        color: inherit;
    }

    a.pslist-group-item-success:hover,
    button.pslist-group-item-success:hover,
    a.pslist-group-item-success:focus,
    button.pslist-group-item-success:focus {
        color: #3c763d;
        background-color: #d0e9c6;
    }

    a.pslist-group-item-success.active,
    button.pslist-group-item-success.active,
    a.pslist-group-item-success.active:hover,
    button.pslist-group-item-success.active:hover,
    a.pslist-group-item-success.active:focus,
    button.pslist-group-item-success.active:focus {
        color: #fff;
        background-color: #3c763d;
        border-color: #3c763d;
    }

.pslist-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

a.pslist-group-item-info,
button.pslist-group-item-info {
    color: #31708f;
}

    a.pslist-group-item-info .pslist-group-item-heading,
    button.pslist-group-item-info .pslist-group-item-heading {
        color: inherit;
    }

    a.pslist-group-item-info:hover,
    button.pslist-group-item-info:hover,
    a.pslist-group-item-info:focus,
    button.pslist-group-item-info:focus {
        color: #31708f;
        background-color: #c4e3f3;
    }

    a.pslist-group-item-info.active,
    button.pslist-group-item-info.active,
    a.pslist-group-item-info.active:hover,
    button.pslist-group-item-info.active:hover,
    a.pslist-group-item-info.active:focus,
    button.pslist-group-item-info.active:focus {
        color: #fff;
        background-color: #31708f;
        border-color: #31708f;
    }

.pslist-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

a.pslist-group-item-warning,
button.pslist-group-item-warning {
    color: #8a6d3b;
}

    a.pslist-group-item-warning .pslist-group-item-heading,
    button.pslist-group-item-warning .pslist-group-item-heading {
        color: inherit;
    }

    a.pslist-group-item-warning:hover,
    button.pslist-group-item-warning:hover,
    a.pslist-group-item-warning:focus,
    button.pslist-group-item-warning:focus {
        color: #8a6d3b;
        background-color: #faf2cc;
    }

    a.pslist-group-item-warning.active,
    button.pslist-group-item-warning.active,
    a.pslist-group-item-warning.active:hover,
    button.pslist-group-item-warning.active:hover,
    a.pslist-group-item-warning.active:focus,
    button.pslist-group-item-warning.active:focus {
        color: #fff;
        background-color: #8a6d3b;
        border-color: #8a6d3b;
    }

.pslist-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}

a.pslist-group-item-danger,
button.pslist-group-item-danger {
    color: #a94442;
}

    a.pslist-group-item-danger .pslist-group-item-heading,
    button.pslist-group-item-danger .pslist-group-item-heading {
        color: inherit;
    }

    a.pslist-group-item-danger:hover,
    button.pslist-group-item-danger:hover,
    a.pslist-group-item-danger:focus,
    button.pslist-group-item-danger:focus {
        color: #a94442;
        background-color: #ebcccc;
    }

    a.pslist-group-item-danger.active,
    button.pslist-group-item-danger.active,
    a.pslist-group-item-danger.active:hover,
    button.pslist-group-item-danger.active:hover,
    a.pslist-group-item-danger.active:focus,
    button.pslist-group-item-danger.active:focus {
        color: #fff;
        background-color: #a94442;
        border-color: #a94442;
    }

.pslist-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.pslist-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}


.pstext-muted {
  color: #777;
}


.psalert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.psalert h4 {
  margin-top: 0;
  color: inherit;
}
.psalert .psalert-link {
  font-weight: bold;
}
.psalert > p,
.psalert > ul {
  margin-bottom: 0;
}
.psalert > p + p {
  margin-top: 5px;
}
.psalert-dismissable,
.psalert-dismissible {
  padding-right: 35px;
}
.psalert-dismissable .close,
.psalert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.psalert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.psalert-success hr {
  border-top-color: #c9e2b3;
}
.psalert-success .psalert-link {
  color: #2b542c;
}
.psalert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.psalert-info hr {
  border-top-color: #a6e1ec;
}
.psalert-info .psalert-link {
  color: #245269;
}
.psalert-warning {
  color: #8a6d3b;
  background-color: #fbea8e;
  border-color: #f6d744;
}
.psalert-warning hr {
  border-top-color: #f7e1b5;
}
.psalert-warning .psalert-link {
  color: #66512c;
}
.psalert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.psalert-danger hr {
  border-top-color: #e4b9c0;
}
.psalert-danger .psalert-link {
  color: #843534;
}


/* GridVew Paging */
.pagination-ys {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td {
    display: inline;
}
 
.pagination-ys table > tbody > tr > td > a,
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #dd4814;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
 
.pagination-ys table > tbody > tr > td > span {
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;    
    margin-left: -1px;
    z-index: 2;
    color: #aea79f;
    background-color: #f5f5f5;
    border-color: #dddddd;
    cursor: default;
}
 
.pagination-ys table > tbody > tr > td:first-child > a,
.pagination-ys table > tbody > tr > td:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td:last-child > a,
.pagination-ys table > tbody > tr > td:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
 
.pagination-ys table > tbody > tr > td > a:hover,
.pagination-ys table > tbody > tr > td > span:hover,
.pagination-ys table > tbody > tr > td > a:focus,
.pagination-ys table > tbody > tr > td > span:focus {
    color: #97310e;
    background-color: #eeeeee;
    border-color: #dddddd;
}