<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.04.02" ModuleVersion="16.07.00" ExportDate="2023-09-29T16:13:44.7572095+02:00">
  <Header>
    <App Guid="93b09530-ccc7-499b-8871-d3cda14aad82" />
    <Language Default="en-us" />
    <Dimensions>
      <Dimension DimensionID="191" Name="Deutsch (Deutschland)" SystemKey="" ExternalKey="de-DE" Active="true" />
      <Dimension DimensionID="192" Name="English (United States)" SystemKey="" ExternalKey="en-US" Active="true" />
    </Dimensions>
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="ConfigurationWarning" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7fe34649-e588-4eef-8543-dbe38d23d085" Json="True" KeyNumber="4917">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-wysiwyg" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Configuration Warning" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Konfigurations-Warnung" Type="String">
              <Dimension DimensionID="191" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Placeholder" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="a643f900-c152-4fea-918d-34e2e83b63f1" Json="True" KeyNumber="4917">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-wysiwyg" AttributeSetName="@string-wysiwyg" EntityGUID="a491fa82-6ec7-4f2e-b728-efb94ec0c633" Json="True" KeyNumber="4917">
            <Value Key="ButtonAdvanced" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ButtonSource" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ContentCss" Value="" Type="Hyperlink">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Dialog" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InlineInitialHeight" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
        <Attribute StaticName="DisqusLoadingMessage" Type="String" IsTitle="false">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="3fd11afe-9b7c-439c-8033-98c9ced512eb" Json="True" KeyNumber="4919">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-wysiwyg" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Disqus Loading Message" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Disqus Lade-Nachricht" Type="String">
              <Dimension DimensionID="191" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Placeholder" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="fb9dd91b-c2b7-40e3-90f4-c0c036f9f20c" Json="True" KeyNumber="4919">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-wysiwyg" AttributeSetName="@string-wysiwyg" EntityGUID="c155855d-3034-4b09-9491-20f7ce9599e8" Json="True" KeyNumber="4919">
            <Value Key="ButtonAdvanced" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ButtonSource" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ContentCss" Value="" Type="Hyperlink">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Dialog" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InlineInitialHeight" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Scope="System.App" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="DomainKey" Type="String" IsTitle="true">
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="e47301c5-6ae3-4048-90b0-50526bb742c6" Json="True" KeyNumber="462">
            <Value Key="CustomJavaScript" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="your-name.disqus.com" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DefaultValue" Value="dein-name.disqus.com" Type="String">
              <Dimension DimensionID="191" ReadOnly="false" />
            </Value>
            <Value Key="Disabled" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="DisableTranslation" Value="False" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="string-default" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Your Disqus Domain" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Name" Value="Deine Disqus Domain" Type="String">
              <Dimension DimensionID="191" ReadOnly="false" />
            </Value>
            <Value Key="Notes" Value="&lt;p&gt;&amp;nbsp;Enter the domain-key here. This is given by disqus when you register - for example&lt;/p&gt;&#xA;&lt;div&gt;&#xA;&lt;div&gt;2sxc-org.disqus.com. Don't use http or leading or trailing slashes.&amp;nbsp;&lt;/div&gt;&#xA;&lt;/div&gt;" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Placeholder" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="Required" Value="True" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="ValidationRegExJavaScript" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="3e9f8546-8256-43bb-a65c-3b32257b8105" Json="True" KeyNumber="462">
            <Value Key="DropdownValues" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
            <Value Key="InputType" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
          <Entity TargetType="2" AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@string-default" AttributeSetName="@string-default" EntityGUID="d171246c-1d2a-4482-8c45-45555ad2d3fe" Json="True" KeyNumber="462">
            <Value Key="InputFontFamily" Value="" Type="String">
              <Dimension DimensionID="192" ReadOnly="false" />
            </Value>
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="b8f1b316-bcf4-4c1a-86f1-27e59190478a" Json="True" KeyNumber="15">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="AllowTokenTemplates" Value="True" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Description" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="DisplayName" Value="disqus" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Folder" Value="disqus3" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Hidden" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="OriginalId" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="RequiredDnnVersion" Value="09.06.01" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="RequiredOqtaneVersion" Value="04.00.00" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="RequiredVersion" Value="16.04.00" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SupportsAjaxReload" Value="True" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Version" Value="03.04.00" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="4e6a5ca6-a06e-44a4-a6bd-0891f20dc515" KeyNumber="15">
      <Value Key="DomainKey" Value="2sxc-org.disqus.com" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="DomainKey" Value="2sxc-org.disqus.com" Type="String">
        <Dimension DimensionID="191" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="f5f8895e-5e0a-4ce4-817f-7995c2ec75a8" KeyNumber="15">
      <Value Key="ConfigurationWarning" Value="&lt;div&gt;&#xA;&lt;div&gt;You have just added the app - please configure it now. Here are some &lt;a href=&quot;https://azing.org/2sxc/l/Mek_MCqz/app-disqus&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;recipes &lt;/a&gt;to get you started.&lt;/div&gt;&#xA;&lt;/div&gt;" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ConfigurationWarning" Value="&lt;div&gt;&#xA;&lt;div&gt;You have just added the app - please configure it now. Here are some &lt;a href=&quot;https://azing.org/2sxc/l/Mek_MCqz/app-disqus&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;recipes &lt;/a&gt;to get you started.&lt;/div&gt;&#xA;&lt;/div&gt;" Type="String">
        <Dimension DimensionID="191" ReadOnly="false" />
      </Value>
      <Value Key="DisqusLoadingMessage" Value="&lt;div&gt;&#xA;&lt;div&gt;Loading Comments...&lt;/div&gt;&#xA;&lt;/div&gt;" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="DisqusLoadingMessage" Value="&lt;div&gt;&#xA;&lt;div&gt;Loading Comments...&lt;/div&gt;&#xA;&lt;/div&gt;" Type="String">
        <Dimension DimensionID="191" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="0b3e7648-6a0a-4d99-9cba-ed6b72df86d2" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Icon" Value="" Type="Hyperlink">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Identifier" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Site" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Disqus" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="Disqus.cshtml" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SearchIndexingStreams" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="Default,ListContent" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ViewController" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="0c0f1051-2cff-4c8a-8b95-c69b43f9081f" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="Empty (to only show disqus on details pages)" Type="String" />
      <Value Key="Path" Value="Empty (to only show disqus on details pages).html" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="Default,ListContent" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="656dc789-e5c3-4817-bae0-e1c158461f5a" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Icon" Value="" Type="Hyperlink">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Identifier" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="True" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Site" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Show only on url-param (for disqus on details-pages only)" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="Disqus.cshtml" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SearchIndexingStreams" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="Default,ListContent" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ViewController" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="post/.*" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="f7b08ccd-0b6b-49c1-8c28-bbeba567b5b0" Json="True">
      <Value Key="ContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Icon" Value="" Type="Hyperlink">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Identifier" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="IsHidden" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ListContentTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Location" Value="Site" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Name" Value="Disqus Pro (lazy load for better PageSpeed)" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Path" Value="Disqus Pro.cshtml" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="PresentationTypeStaticName" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="PublishData" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SearchIndexingDisabled" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SearchIndexingStreams" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="StreamsToPublish" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Type" Value="C# Razor" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="UseForList" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ViewController" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ViewNameInUrl" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="92f2eb3c-c3b7-4378-82df-b2393da6687e" AttributeSetName="⚙️ContentSecurityPolicy" EntityGUID="9fb2c7be-5a06-46e3-ba2e-fe7e2f1b2e5a" Json="True">
      <Value Key="IsEnforced" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ItemIdentifier" Value="Default" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Policies" Value="script-src: *.disqus.com" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="SettingsIdentifier" Value="ContentSecurityPolicies.Default" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="5f431769-ff03-472e-aab5-33891af10acc" AttributeSetName="⚙️ContentSecurityPolicies" EntityGUID="83e1f4c6-fd9d-420d-bed2-78b761eb4fa2" Json="True">
      <Value Key="Items" Value="9fb2c7be-5a06-46e3-ba2e-fe7e2f1b2e5a" Type="Entity" />
      <Value Key="SettingsIdentifier" Value="ContentSecurityPolicies" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="1" AssignmentObjectType="Default" AttributeSetStaticName="813a3cb7-1a89-4477-bdfe-8863ab3ae59a" AttributeSetName="SettingsSystem" EntityGUID="7d870594-947d-4cf1-bf54-ed0d46e4b0e9" Json="True">
      <Value Key="ContentSecurityPolicies" Value="83e1f4c6-fd9d-420d-bed2-78b761eb4fa2" Type="Entity" />
      <Value Key="SettingsEntityScope" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="System Settings" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
    <Entity TargetType="3" AssignmentObjectType="App" AttributeSetStaticName="be34f64b-7d1f-4ad0-b488-dabbbb01a186" AttributeSetName="LightSpeedOutputDecorator" EntityGUID="6b57e100-8c1b-4599-99c5-73bb58699f7c" Json="True" KeyNumber="15">
      <Value Key="Advanced" Value="" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="ByUrlParameters" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Duration" Value="14400.0" Type="Number">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="DurationEditors" Value="300.0" Type="Number">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="DurationSystemAdmin" Value="300.0" Type="Number">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="DurationUsers" Value="-1.0" Type="Number">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="IsEnabled" Value="True" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="Title" Value="✅ - Users 14400s, Reg 🚫, Editors 300s, SysAdmins 300s" Type="String">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
      <Value Key="UrlParametersCaseSensitive" Value="False" Type="Boolean">
        <Dimension DimensionID="192" ReadOnly="false" />
      </Value>
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="13596" RelativePath="adam/disqus3/" />
  </PortalFolders>
</SexyContent>