.psflatbutton {
  color: #fff !important;
  background-color: #6496c8;
  border: none;
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 5px 10px;
  font-size: 15px;
  font-family: arial;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
.psflatbutton:hover,
.psflatbutton.hover {
  background-color: #346392;
}
.psflatbutton:active,
.psflatbutton.active {
  background-color: #27496d;
}
.HideControl{
    display:none !important;
}
.IconPaddingLeft{
        padding-left: 10px;
}
.treeNode {
    font-size: 1em !important;
    color: #5f6061 !important;
    padding: 4px;
    background-color: #eeeeee;
    font-weight: bold;
}