@media screen and (max-width:1024px) {
    .hero .card .card-body .hero-img{
        position:relative;
        right:auto;
        text-align:end;
    }
}

@media screen and (max-width:768px) {
    .hero .card .card-body .hero-img {
        text-align: center;
    }
}

@media screen and (max-width:425px) {
   
}