@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<VCQRU.Modules.TreatmentsTreatments.Models.Treatment>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers
<section class="disease-detail-section">
    <div class="container">
        <img src="/assets/img/treatment-detail.jpg" class="img-fluid" />
    </div>
</section>
<!--  -->
<section class="blog-details">
    <div class="container">
        <div class="row g-xxl-4 g-xl-4 g-lg-3 g-md-3 g-3">
            <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="blog-read-section mb-5">
                    <div class="card">
                        <div class="card-body">
                            @Html.Raw(Model.TreatmentDescription)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="row g-xxl-4 g-xl-4 g-lg-3 g-md-3 g-3">
                    <div class="col-lg-12">
                        <div class="appointment-form">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Need more help</h5>
                                    <p class="card-text">
                                        Simply enter your text and choose the case you want to
                                        convert it to.
                                    </p>
                                    <form action="" class="needs-validation" novalidate>
                                        <div class="row g-3">
                                            <div class="col-lg-12">
                                                <label for="FullName" class="form-label">
                                                    Full
                                                    Name<span>*</span>
                                                </label>
                                                <input type="text" class="form-control" id="FullName" required>
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="ContactNumber" class="form-label">
                                                    Contact
                                                    Number<span>*</span>
                                                </label>
                                                <input type="number" class="form-control" id="ContactNumber"
                                                       required>
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="SelectDiseases" class="form-label">
                                                    Select
                                                    Diseases<span>*</span>
                                                </label>
                                                <select class="form-select" id="SelectDiseases" required>
                                                    <option selected disabled value="">Choose...</option>
                                                    <option value="1">one</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-12">
                                                <label for="Selectcity" class="form-label">
                                                    Select
                                                    city<span>*</span>
                                                </label>
                                                <select class="form-select" id="Selectcity" required>
                                                    <option selected disabled value="">Choose...</option>
                                                    <option value="1">one</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-12 text-center">
                                                <button type="submit" class="btn btn-primary">
                                                    Book Free
                                                    Appointment
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="recent-posts">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Related Diseases</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <a href="#"> Arthroscopy</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Knee Pain</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Depression</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#"> Weight Loss</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Joint Health</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Hair & Skin Care</a>
                                        </li>
                                        <li class="list-group-item">
                                            <a href="#">Mental Health</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>