.AddTaskDiv {
    float: left;
    width: 25%;
    margin-right: 1%;
    margin-bottom: 50px;
    background: #ccc;
    padding: 10px;
}

.lblTaskIsComplete {
    float: left;
}

.TaskListDiv {
    float: right;
    width: 70%;
    min-height: 263px;
    margin-bottom: 50px;
    background: #ccc;
    padding: 10px;
}

.Headings h2 {
    margin-right: 50px;
    float: left;
}

.EditIcon {
    float: left;
    color: #0000ff;
    font-size: 8px;
    cursor: pointer;
    clear: left;
}

.checkbox {
    float: left;
    width: 12%;
    margin-left: 5px;
}

#cbxIsComplete {
    float: left;
    margin-top: 3px;
    margin-right: 0px;
}

.ListTaskName {
    float: left;
    width: 18%;
}

.ListTaskDescription {
    float: left;
    width: 63%;
}

.ListItems {
    float: right;
    width: 97%;
}

.UpdatedTaskName {
    width: 117px;
}

.UpdatedTaskDescription {
    width: 400px;
}

.Cancel {
    cursor: pointer;
}

.Save {
    cursor: pointer;
}
